{
    "openapi": "3.0.0",
    "info": {
        "title": "API del Marketplace",
        "description": "Documentación generada con L5-Swagger para la API del Marketplace.eeeeee",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor principal"
        }
    ],
    "paths": {
        "/api/businesses": {
            "get": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Listar negocios del usuario autenticado",
                "description": "Devuelve todos los negocios asociados al usuario autenticado, incluyendo sus categorías e imágenes.",
                "operationId": "b47cb8f8dbb2224c2cc513bab2da85d8",
                "responses": {
                    "200": {
                        "description": "Lista de negocios del usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Business"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Crear un nuevo negocio",
                "description": "Crea un nuevo negocio asociado al usuario autenticado. Valida el límite de negocios según la suscripción del usuario.",
                "operationId": "09636680657c34a3c34227aa276605d1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Panadería San Jorge"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Panadería artesanal con más de 20 años de experiencia"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Calle Falsa 123"
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -34.6037,
                                        "nullable": true
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -58.3816,
                                        "nullable": true
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Negocio creado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Business"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para crear más negocios según su suscripción"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/{business}": {
            "get": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Mostrar un negocio específico",
                "description": "Devuelve la información detallada de un negocio por su ID. Si el usuario autenticado es el dueño, también incluye los productos del negocio.",
                "operationId": "feb0cf913a78b75503617b23b3a7d154",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del negocio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Business"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Actualizar un negocio",
                "description": "Actualiza la información de un negocio. Solo el dueño del negocio puede actualizarlo.",
                "operationId": "cd3ec13e27b92b89bb83a6dc56aafd20",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Panadería San Jorge (Actualizado)"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Panadería artesanal con más de 25 años de experiencia"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Calle Falsa 456"
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -34.6037,
                                        "nullable": true
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -58.3816,
                                        "nullable": true
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Negocio actualizado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Business"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para actualizar este negocio"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Eliminar un negocio",
                "description": "Elimina un negocio existente. Solo el dueño del negocio puede eliminarlo.",
                "operationId": "1ba49b80ee03bbaf297a4bd08e88982f",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Negocio eliminado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Negocio eliminado correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para eliminar este negocio"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/{business}/categories/{category}": {
            "delete": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Eliminar una categoría de un negocio",
                "description": "Elimina una categoría específica de un negocio. Solo el dueño del negocio puede realizar esta acción.",
                "operationId": "cc9d36e893b6b97a015c6eca4f79d12d",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría eliminada del negocio correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Categoría eliminada del negocio correctamente"
                                        },
                                        "business": {
                                            "$ref": "#/components/schemas/Business"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para eliminar categorías de este negocio"
                    },
                    "404": {
                        "description": "El negocio no tiene asignada esta categoría"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/{business}/categories": {
            "put": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Actualizar las categorías de un negocio",
                "description": "Actualiza todas las categorías asociadas a un negocio. Solo el dueño del negocio puede realizar esta acción.",
                "operationId": "72531511fb2d2c1ac929a6fa06b7a9cc",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categorías actualizadas correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Categorías actualizadas correctamente"
                                        },
                                        "business": {
                                            "$ref": "#/components/schemas/Business"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para actualizar categorías de este negocio"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/search": {
            "get": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Buscar negocios",
                "description": "Busca negocios por nombre, categoría o ubicación.",
                "operationId": "69c06fceafc425283c96de9a39ce3856",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nombre del negocio",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "ID de la categoría",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Latitud para búsqueda por ubicación",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Longitud para búsqueda por ubicación",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Radio de búsqueda en metros",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de negocios encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Business"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/businesses/nearby": {
            "get": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Negocios cercanos",
                "description": "Devuelve los negocios cercanos a una ubicación específica, dentro de un radio determinado.",
                "operationId": "b219f678dc17a7124cf73b3486990c4d",
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Latitud",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Longitud",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Radio de búsqueda en metros (por defecto: 10000)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de negocios cercanos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Business"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación de los parámetros de ubicación"
                    }
                }
            }
        },
        "/api/businesses/category/{category}": {
            "get": {
                "tags": [
                    "Negocios"
                ],
                "summary": "Negocios por categoría",
                "description": "Devuelve todos los negocios que pertenecen a una categoría específica.",
                "operationId": "c93e77cccccb4496c85d445a635b1cf1",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de negocios en la categoría",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Business"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/businesses/{business}/images": {
            "post": {
                "tags": [
                    "Imágenes de Negocio"
                ],
                "summary": "Subir una imagen para un negocio",
                "description": "Sube una imagen asociada a un negocio específico. Solo el dueño del negocio puede subir imágenes.",
                "operationId": "6814b7ce77344cd0bf3b67337440d226",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Imagen y datos adicionales",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Archivo de imagen (JPEG, PNG, JPG, GIF)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_primary": {
                                        "description": "Indica si la imagen es la principal del negocio",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "description": {
                                        "description": "Descripción opcional de la imagen",
                                        "type": "string",
                                        "example": "Fachada de la panadería"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Imagen subida correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessImage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para subir imágenes a este negocio"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/{business}/images/{image}": {
            "put": {
                "tags": [
                    "Imágenes de Negocio"
                ],
                "summary": "Actualizar la descripción de una imagen de un negocio",
                "description": "Actualiza la descripción de una imagen específica de un negocio. Solo el dueño del negocio puede actualizar imágenes.",
                "operationId": "336077514c1636fc23a61ad7ee034b73",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "image",
                        "in": "path",
                        "description": "ID de la imagen",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "example": "Nueva descripción de la imagen"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Imagen actualizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessImage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para actualizar imágenes de este negocio"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Imágenes de Negocio"
                ],
                "summary": "Eliminar una imagen de un negocio",
                "description": "Elimina una imagen específica de un negocio. Solo el dueño del negocio puede eliminar imágenes.",
                "operationId": "26215df562e8206d3136936dac90aad1",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "image",
                        "in": "path",
                        "description": "ID de la imagen",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Imagen eliminada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Imagen eliminada correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para eliminar imágenes de este negocio"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categorías"
                ],
                "summary": "Listar todas las categorías de negocios",
                "description": "Devuelve un listado de todas las categorías de negocios registradas.",
                "operationId": "8e17a9627dbed245cf032f867569cf11",
                "responses": {
                    "200": {
                        "description": "Lista de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BusinessCategory"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorías"
                ],
                "summary": "Crear una nueva categoría",
                "description": "Crea una nueva categoría de negocio.",
                "operationId": "2140f330d926c3e118cab9391dc4ff42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Restaurantes"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Negocios gastronómicos"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoría creada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessCategory"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                }
            }
        },
        "/api/categories/{businessCategory}": {
            "get": {
                "tags": [
                    "Categorías"
                ],
                "summary": "Mostrar una categoría específica",
                "description": "Devuelve la información detallada de una categoría por su ID.",
                "operationId": "d7cc7db22f5c7a73ee20100b737a489b",
                "parameters": [
                    {
                        "name": "businessCategory",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle de la categoría",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BusinessCategory"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada"
                    }
                }
            }
        },
        "/api/product-categories": {
            "get": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Listar categorías de productos",
                "description": "Devuelve todas las categorías de productos activas, con sus subcategorías.",
                "operationId": "fe28bcf484f6ac601457842c89754862",
                "responses": {
                    "200": {
                        "description": "Listado de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Crear categoría de producto",
                "description": "Permite crear una nueva categoría de productos. Requiere autenticación.",
                "operationId": "d69ad648a077f65a03af6ba67d0ec97d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electrónica"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Dispositivos y accesorios tecnológicos"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "example": null
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoría creada correctamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/product-categories/{id}": {
            "get": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Mostrar categoría de producto",
                "description": "Obtiene una categoría de producto con su jerarquía completa.",
                "operationId": "33b65b6a03e881faaaf063ed6a4bbc95",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Actualizar categoría de producto",
                "description": "Modifica los datos de una categoría existente.",
                "operationId": "30f66eb8e21af090f749ef3493f1977a",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electrodomésticos"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Artículos para el hogar"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categoría actualizada correctamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Eliminar categoría de producto",
                "description": "Elimina una categoría si no tiene productos asociados.",
                "operationId": "23ffcb62480e8b37f45858d4e0b270f6",
                "responses": {
                    "200": {
                        "description": "Categoría eliminada correctamente"
                    },
                    "409": {
                        "description": "No se puede eliminar: tiene productos asociados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/businesses/{business}/products": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar productos de un negocio",
                "description": "Devuelve todos los productos asociados a un negocio específico.",
                "operationId": "3b35a2a18c19c7411b78f64b06860d06",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de productos del negocio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para ver este negocio"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Productos"
                ],
                "summary": "Crear un nuevo producto",
                "description": "Crea un nuevo producto asociado a un negocio. Solo el dueño del negocio puede crear productos.",
                "operationId": "f86b82f901f67c383e58233d1cd806ff",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Pan integral artesanal"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Pan casero con semillas de lino"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 320.5
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "example": 40
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "is_active": {
                                        "type": "boolean, example=true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Producto creado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para crear productos en este negocio o límite de productos alcanzado"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/search": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Buscar productos",
                "description": "Busca productos por nombre, descripción, categoría, negocio o rango de precios.",
                "operationId": "131a3b23ed0ecb009a18b85cc2d55ba2",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Término general de búsqueda",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nombre del producto",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Descripción del producto",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "ID de la categoría",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "business",
                        "in": "query",
                        "description": "ID del negocio",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Precio mínimo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Precio máximo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Campo para ordenar (price, name, created_at)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Orden (asc o desc)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de productos encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/category/{category}": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar productos por categoría",
                "description": "Devuelve todos los productos pertenecientes a una categoría específica.",
                "operationId": "2bb9f728cfeea86d4fecf5cbb679f487",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de productos en la categoría",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/business/{business}": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar productos por negocio",
                "description": "Obtiene los productos asociados a un negocio específico.",
                "operationId": "290255c24e58d241dbe5f009706cda3c",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de productos del negocio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Negocio no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/{product}": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Mostrar un producto específico",
                "description": "Devuelve la información detallada de un producto por su ID.",
                "operationId": "b81526f9d1e382fc48b3a150f7ffae13",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "ID del producto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del producto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Producto no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Productos"
                ],
                "summary": "Actualizar un producto existente",
                "description": "Permite modificar los datos de un producto. Solo el propietario del negocio puede actualizarlo.",
                "operationId": "d18ab82eb18e3d1edbfb573c8a63da67",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "ID del producto a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Pan integral artesanal"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Pan casero con semillas de lino"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 320.5
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "example": 40
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Producto actualizado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para actualizar este producto"
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Productos"
                ],
                "summary": "Eliminar un producto",
                "description": "Elimina un producto existente. Solo el propietario del negocio puede realizar esta acción.",
                "operationId": "6b585b56bcc292f37b5376d7e5e3e9df",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "ID del producto a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Producto eliminado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto eliminado correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado para eliminar este producto"
                    },
                    "404": {
                        "description": "Producto no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/search": {
            "get": {
                "tags": [
                    "Búsquedas"
                ],
                "summary": "Búsqueda global de negocios y productos",
                "description": "Busca tanto en negocios como productos según el término ingresado. Permite filtrar por ubicación y radio.",
                "operationId": "90d4505b4c8f3ae19c7bd38f5486dd55",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Texto de búsqueda",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Latitud del usuario",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Longitud del usuario",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Radio de búsqueda en metros (por defecto 10000)",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resultados encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "businesses": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "products": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No se envió query de búsqueda"
                    }
                }
            }
        },
        "/api/subscription": {
            "get": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Obtener suscripción actual",
                "description": "Devuelve la suscripción actual del usuario autenticado. Si no tiene suscripción, crea una por defecto (plan 'free').",
                "operationId": "03430c7a696aa2c8bcd5cb67d41d9698",
                "responses": {
                    "200": {
                        "description": "Suscripción del usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscription/upgrade": {
            "put": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Actualizar suscripción",
                "description": "Actualiza el plan de suscripción del usuario autenticado. Si el plan no es 'free', se requiere un método de pago.",
                "operationId": "a9e08eb64a7fbaa6f1ef73d1d81df786",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "plan": {
                                        "type": "string",
                                        "enum": [
                                            "free",
                                            "basic",
                                            "premium",
                                            "enterprise"
                                        ],
                                        "example": "premium"
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "mercadopago",
                                            "transferencia",
                                            "tarjeta"
                                        ],
                                        "example": "mercadopago",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Suscripción actualizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "¡Suscripción actualizada a Premium! Ahora puedes tener hasta 10 negocios y 500 productos."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscription/check-business-creation": {
            "get": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Verificar si puede crear un negocio",
                "description": "Verifica si el usuario autenticado puede crear un nuevo negocio según su suscripción actual.",
                "operationId": "154077471cae1564db30a04b69450305",
                "responses": {
                    "200": {
                        "description": "Resultado de la verificación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "can_create": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Puedes crear un nuevo negocio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscription/check-product-creation/{business}": {
            "get": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Verificar si puede crear un producto",
                "description": "Verifica si el usuario autenticado puede crear un nuevo producto en un negocio específico según su suscripción actual.",
                "operationId": "d3150f5303ba51983178a25fb5bcd12a",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "ID del negocio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resultado de la verificación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "can_create": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Puedes crear un nuevo producto en este negocio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscription/change-plan": {
            "put": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Cambiar plan de suscripción",
                "description": "Cambia el plan de suscripción de un usuario específico. Solo accesible para administradores.",
                "operationId": "222e77b08b8bf391b7896e4e32e3fdaa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "new_plan": {
                                        "type": "string",
                                        "enum": [
                                            "free",
                                            "basic",
                                            "premium",
                                            "enterprise"
                                        ],
                                        "example": "premium"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Plan de suscripción cambiado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Suscripción cambiada a Premium correctamente. Algunos negocios o productos pueden haber sido desactivados si excedían los límites del nuevo plan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación de los datos enviados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscription/status": {
            "get": {
                "tags": [
                    "Suscripciones"
                ],
                "summary": "Estado de la suscripción",
                "description": "Devuelve el estado actual de la suscripción del usuario autenticado, incluyendo límites de negocios y productos según el plan.",
                "operationId": "e193a7c32456b6711e44251bc5df6272",
                "responses": {
                    "200": {
                        "description": "Estado de la suscripción",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "premium"
                                        },
                                        "product_limit": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "active"
                                        },
                                        "max_businesses": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "max_products": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Iniciar sesión de usuario",
                "description": "Autentica al usuario con email y contraseña, devolviendo el token de acceso y sus datos.",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "usuario@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inicio de sesión exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|eyJ0eXAiOiJKV1Qi..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciales incorrectas"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Cerrar sesión",
                "description": "Invalida el token actual del usuario autenticado.",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Sesión cerrada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Registrar nuevo usuario",
                "description": "Crea un nuevo usuario con rol 'user' y suscripción gratuita.",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "usuario@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario creado"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Datos inválidos"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BusinessCategory": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Restaurantes"
                    },
                    "description": {
                        "type": "string",
                        "example": "Negocios gastronómicos"
                    }
                },
                "type": "object"
            },
            "BusinessImage": {
                "required": [
                    "id",
                    "business_id",
                    "url"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "business_id": {
                        "type": "integer",
                        "example": 5
                    },
                    "url": {
                        "type": "string",
                        "example": "business_images/abc123.jpg"
                    },
                    "is_primary": {
                        "type": "boolean",
                        "example": false
                    },
                    "description": {
                        "type": "string",
                        "example": "Fachada de la panadería",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:50:00Z"
                    }
                },
                "type": "object"
            },
            "Business": {
                "required": [
                    "id",
                    "user_id",
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 10
                    },
                    "name": {
                        "type": "string",
                        "example": "Panadería San Jorge"
                    },
                    "description": {
                        "type": "string",
                        "example": "Panadería artesanal con más de 20 años de experiencia",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "example": "Calle Falsa 123",
                        "nullable": true
                    },
                    "latitude": {
                        "type": "number",
                        "format": "float",
                        "example": -34.6037,
                        "nullable": true
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float",
                        "example": -58.3816,
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "example": "+54 11 1234-5678",
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "contacto@panaderiasanjorge.com",
                        "nullable": true
                    },
                    "website": {
                        "type": "string",
                        "example": "https://panaderiasanjorge.com",
                        "nullable": true
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:50:00Z"
                    },
                    "products": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BusinessCategory"
                        }
                    }
                },
                "type": "object"
            },
            "ProductCategory": {
                "required": [
                    "id",
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Panadería"
                    },
                    "description": {
                        "type": "string",
                        "example": "Productos de panadería y repostería",
                        "nullable": true
                    },
                    "parent_id": {
                        "type": "integer",
                        "example": 2,
                        "nullable": true
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:50:00Z"
                    },
                    "children": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProductCategory"
                        }
                    }
                },
                "type": "object"
            },
            "ProductImage": {
                "required": [
                    "id",
                    "product_id",
                    "url"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "product_id": {
                        "type": "integer",
                        "example": 5
                    },
                    "url": {
                        "type": "string",
                        "example": "https://cdn.example.com/images/pan.jpg"
                    },
                    "is_primary": {
                        "type": "boolean",
                        "example": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Imagen principal del pan integral",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:50:00Z"
                    }
                },
                "type": "object"
            },
            "Product": {
                "required": [
                    "id",
                    "name",
                    "price",
                    "stock"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Pan artesanal integral"
                    },
                    "description": {
                        "type": "string",
                        "example": "Pan con harina integral y semillas",
                        "nullable": true
                    },
                    "price": {
                        "type": "number",
                        "format": "float",
                        "example": 350.5
                    },
                    "stock": {
                        "type": "integer",
                        "example": 20
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "category_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "business_id": {
                        "type": "integer",
                        "example": 5
                    },
                    "category": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 3
                            },
                            "name": {
                                "type": "string",
                                "example": "Panadería"
                            }
                        },
                        "type": "object"
                    },
                    "business": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 5
                            },
                            "name": {
                                "type": "string",
                                "example": "Panadería San Jorge"
                            }
                        },
                        "type": "object"
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "example": "https://cdn.chivimarket.arumasoft.com/pan.jpg"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "Subscription": {
                "required": [
                    "id",
                    "user_id",
                    "type",
                    "product_limit",
                    "is_active"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 10
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "free",
                            "basic",
                            "premium",
                            "enterprise"
                        ],
                        "example": "premium"
                    },
                    "product_limit": {
                        "type": "integer",
                        "example": 500
                    },
                    "starts_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "ends_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-10-20T13:45:00Z",
                        "nullable": true
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "status": {
                        "type": "string",
                        "example": "active"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:50:00Z"
                    }
                },
                "type": "object"
            },
            "User": {
                "required": [
                    "id",
                    "name",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Juan Pérez"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "juan@example.com"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-20T13:45:00Z",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
[...]
