{
    "openapi": "3.0.0",
    "info": {
        "title": "API del Marketplace",
        "description": "Documentación generada con L5-Swagger para la API del Marketplace.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor principal"
        }
    ],
    "paths": {
        "/api/business-categories": {
            "get": {
                "tags": [
                    "Categorías de Negocios"
                ],
                "summary": "Listar categorías de negocios",
                "description": "Devuelve todas las categorías disponibles para los negocios.",
                "operationId": "a8205350d76e6a46295e66883d941d6b",
                "responses": {
                    "200": {
                        "description": "Listado de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorías de Negocios"
                ],
                "summary": "Crear nueva categoría de negocio",
                "description": "Permite crear una nueva categoría. Requiere autenticación.",
                "operationId": "520159e7c59e3c10d7cd8d4a578ec11a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Restaurantes"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Negocios gastronómicos"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoría creada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/business-categories/{id}": {
            "get": {
                "tags": [
                    "Categorías de Negocios"
                ],
                "summary": "Mostrar categoría de negocio",
                "description": "Devuelve los datos de una categoría específica.",
                "operationId": "1c2b05d0f487bad9d21321b12f0b0d51",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada"
                    }
                }
            }
        },
        "/api/product-categories": {
            "get": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Listar categorías de productos",
                "description": "Devuelve todas las categorías de productos activas, con sus subcategorías.",
                "operationId": "fe28bcf484f6ac601457842c89754862",
                "responses": {
                    "200": {
                        "description": "Listado de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Crear categoría de producto",
                "description": "Permite crear una nueva categoría de productos. Requiere autenticación.",
                "operationId": "d69ad648a077f65a03af6ba67d0ec97d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electrónica"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Dispositivos y accesorios tecnológicos"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "example": null
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoría creada correctamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/product-categories/{id}": {
            "get": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Mostrar categoría de producto",
                "description": "Obtiene una categoría de producto con su jerarquía completa.",
                "operationId": "33b65b6a03e881faaaf063ed6a4bbc95",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Actualizar categoría de producto",
                "description": "Modifica los datos de una categoría existente.",
                "operationId": "30f66eb8e21af090f749ef3493f1977a",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electrodomésticos"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Artículos para el hogar"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categoría actualizada correctamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categorías de Productos"
                ],
                "summary": "Eliminar categoría de producto",
                "description": "Elimina una categoría si no tiene productos asociados.",
                "operationId": "23ffcb62480e8b37f45858d4e0b270f6",
                "responses": {
                    "200": {
                        "description": "Categoría eliminada correctamente"
                    },
                    "409": {
                        "description": "No se puede eliminar: tiene productos asociados"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/test": {
            "get": {
                "tags": [
                    "Test"
                ],
                "summary": "Endpoint de prueba Swagger",
                "description": "Retorna un mensaje de prueba",
                "operationId": "dfefa80802e82df09cb2effaea3538bf",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Iniciar sesión de usuario",
                "description": "Autentica al usuario con email y contraseña, devolviendo el token de acceso y sus datos.",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "usuario@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inicio de sesión exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|eyJ0eXAiOiJKV1Qi..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciales incorrectas"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Cerrar sesión",
                "description": "Invalida el token actual del usuario autenticado.",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Sesión cerrada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Registrar nuevo usuario",
                "description": "Crea un nuevo usuario con rol 'user' y suscripción gratuita.",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "usuario@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario creado"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Datos inválidos"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Categorías de Negocios",
            "description": "Categorías de Negocios"
        },
        {
            "name": "Categorías de Productos",
            "description": "Categorías de Productos"
        },
        {
            "name": "Test",
            "description": "Test"
        },
        {
            "name": "Autenticación",
            "description": "Autenticación"
        }
    ]
}